<style>
    div {
        margin: 20px;
    }
    div.c-input-area {
        min-height: 100px;
    }
    div.c-messages {
        border: 1px solid black;
        height: 80%;
    }
    input.c-message-input {
        width: 80%;
    }
    p {
        margin: 10px
    }
</style>

<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script>
            function send() {
                var message = $("input#message-input")[0].value;
                var data = { message: message };
                $.ajax({
                    type: 'POST',
                    url: '/send',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8'
                });

                $("input#message-input")[0].value = '';
                receive();
            }

            function receive() {
                var request = $.ajax({
                    type: 'POST',
                    url: '/receive',
                    dataType: 'application/json'
                });
                
                request.always(appendNewMessages);
            }

            function appendNewMessages(data){
                if (data.status == 200) {
                    messages = $.parseJSON(data.responseText);
                    $.each(messages, function(i ,message) {
                        var messageElement = '<p class="c-message">' + message + "</p>"
                        $('div.c-messages').append(messageElement)
                    });
                }
            }

            function logout() {
                var request = $.ajax({
                    type: "DELETE",
                    url: "{{url_for('login_controller.logout')}}",
                });
                request.always(function (){
                    window.location.href = "{{url_for('login_controller.index')}}";
                })
            }

            $(document).ready(function() {
                window.setInterval(receive, 3000);
            });

        </script>
    </head>
    <body>
        <div>
            <input type="button" value="Выход" onclick="logout()"/>
        </div>
        <div class="c-messages">
            {% for message in messages %}
            <p class="c-message" >{{message}}</p>
            {% endfor %}
        </div>
        <div>
            <input id="message-input" class="c-message-input" type="text" />
            <input type="button" value="Отправить" onclick="send()"/>
        </div>
    </body>
</html>