<html>
    <body>
        <form name="login" action="/login" method="POST">
            <label for="input-nick" >Ник</label>
            <input type="text" name="nick" id="input-nick" />
            <label for="input-password">Пароль</label>
            <input type="password" name="password" id="input-password" />
            <button type="submit">Вход</button>
        </form name="login">
        <div>
            <a href="{{url_for('registration_controller.index')}}">Регистрация</a>
        </div>
        <div>
            {% if error %}
            <p>Вы не можете быть авторизованы. Попробуйте другой ник или пароль</p>
            {% endif %}
        </div>
    </body>
</html>