<html>
    <body>
        <form name="login" action="/register" method="POST">
            <label for="input-nick" >Ник</label>
            <input type="text" name="nick" id="input-nick" />
            <label for="input-password">Пароль</label>
            <input type="password" name="password" id="input-password" />
            <button type="submit">Зарегистрироваться</button>
        </form name="login">
        <div>
            {% if error %}
            <p>Ник уже занят, пожалуйста, выберите другой</p>
            {% endif %}
        </div>
    </body>
</html>